.nav {
  grid-area: n;
  background-color: yellow;
}
js .list {
  text-decoration: none;
  style-type: none;
}

.item {
  color: white;
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.link:hover,
.active {
  color: aqua;
}

.friendsTitle {
  text-align: center;
  font-size: 36px;
  margin: 20px 0;
}

.friendsList {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-around;
}

.friendsImg {
  width: 30px;
  border-radius: 50%;
}
