.nav {
  grid-area: n;
  background-color: yellow;
}
js .list {
  text-decoration: none;
  style-type: none;
}

.item {
  color: white;
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.link:hover,
.active {
  color: aqua;
}
